<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.limaila.limaila_weixin_service.dao.WxUserMapper" >
  <resultMap id="BaseResultMap" type="com.limaila.limaila_weixin_service.entity.WxUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="wx_openid" property="wxOpenid" jdbcType="VARCHAR" />
    <result column="wx_nickname" property="wxNickname" jdbcType="VARCHAR" />
    <result column="wx_unionid" property="wxUnionid" jdbcType="VARCHAR" />
    <result column="wx_headimgurl" property="wxHeadimgurl" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    <result column="subscribe_time" property="subscribeTime" jdbcType="TIMESTAMP" />
    <result column="subscribe_scene" property="subscribeScene" jdbcType="VARCHAR" />
    <result column="qr_scene" property="qrScene" jdbcType="VARCHAR" />
    <result column="qr_scene_str" property="qrSceneStr" jdbcType="VARCHAR" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="subscribe" property="subscribe" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, wx_openid, wx_nickname, wx_unionid, wx_headimgurl, sex, city, country, province, 
    language, subscribe_time, subscribe_scene, qr_scene, qr_scene_str, key, subscribe
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from wx_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wx_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.limaila.limaila_weixin_service.entity.WxUser" useGeneratedKeys="true" keyProperty="id">
    insert into wx_user (id, wx_openid, wx_nickname, 
      wx_unionid, wx_headimgurl, sex, 
      city, country, province, 
      language, subscribe_time, subscribe_scene, 
      qr_scene, qr_scene_str, key, 
      subscribe)
    values (#{id,jdbcType=BIGINT}, #{wxOpenid,jdbcType=VARCHAR}, #{wxNickname,jdbcType=VARCHAR}, 
      #{wxUnionid,jdbcType=VARCHAR}, #{wxHeadimgurl,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{city,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{language,jdbcType=VARCHAR}, #{subscribeTime,jdbcType=TIMESTAMP}, #{subscribeScene,jdbcType=VARCHAR}, 
      #{qrScene,jdbcType=VARCHAR}, #{qrSceneStr,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, 
      #{subscribe,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.limaila.limaila_weixin_service.entity.WxUser" useGeneratedKeys="true" keyProperty="id">
    insert into wx_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="wxOpenid != null" >
        wx_openid,
      </if>
      <if test="wxNickname != null" >
        wx_nickname,
      </if>
      <if test="wxUnionid != null" >
        wx_unionid,
      </if>
      <if test="wxHeadimgurl != null" >
        wx_headimgurl,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="subscribeTime != null" >
        subscribe_time,
      </if>
      <if test="subscribeScene != null" >
        subscribe_scene,
      </if>
      <if test="qrScene != null" >
        qr_scene,
      </if>
      <if test="qrSceneStr != null" >
        qr_scene_str,
      </if>
      <if test="key != null" >
        key,
      </if>
      <if test="subscribe != null" >
        subscribe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="wxOpenid != null" >
        #{wxOpenid,jdbcType=VARCHAR},
      </if>
      <if test="wxNickname != null" >
        #{wxNickname,jdbcType=VARCHAR},
      </if>
      <if test="wxUnionid != null" >
        #{wxUnionid,jdbcType=VARCHAR},
      </if>
      <if test="wxHeadimgurl != null" >
        #{wxHeadimgurl,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="subscribeTime != null" >
        #{subscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subscribeScene != null" >
        #{subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="qrScene != null" >
        #{qrScene,jdbcType=VARCHAR},
      </if>
      <if test="qrSceneStr != null" >
        #{qrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="subscribe != null" >
        #{subscribe,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.limaila.limaila_weixin_service.entity.WxUser" >
    update wx_user
    <set >
      <if test="wxOpenid != null" >
        wx_openid = #{wxOpenid,jdbcType=VARCHAR},
      </if>
      <if test="wxNickname != null" >
        wx_nickname = #{wxNickname,jdbcType=VARCHAR},
      </if>
      <if test="wxUnionid != null" >
        wx_unionid = #{wxUnionid,jdbcType=VARCHAR},
      </if>
      <if test="wxHeadimgurl != null" >
        wx_headimgurl = #{wxHeadimgurl,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="subscribeTime != null" >
        subscribe_time = #{subscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subscribeScene != null" >
        subscribe_scene = #{subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="qrScene != null" >
        qr_scene = #{qrScene,jdbcType=VARCHAR},
      </if>
      <if test="qrSceneStr != null" >
        qr_scene_str = #{qrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="subscribe != null" >
        subscribe = #{subscribe,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.limaila.limaila_weixin_service.entity.WxUser" >
    update wx_user
    set wx_openid = #{wxOpenid,jdbcType=VARCHAR},
      wx_nickname = #{wxNickname,jdbcType=VARCHAR},
      wx_unionid = #{wxUnionid,jdbcType=VARCHAR},
      wx_headimgurl = #{wxHeadimgurl,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      subscribe_time = #{subscribeTime,jdbcType=TIMESTAMP},
      subscribe_scene = #{subscribeScene,jdbcType=VARCHAR},
      qr_scene = #{qrScene,jdbcType=VARCHAR},
      qr_scene_str = #{qrSceneStr,jdbcType=VARCHAR},
      key = #{key,jdbcType=VARCHAR},
      subscribe = #{subscribe,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>