<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.limaila.limaila_weixin_service.dao.WxUserMapper" >
  <resultMap id="BaseResultMap" type="com.limaila.limaila_weixin_service.entity.WxUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="wx_openid" property="wxOpenid" jdbcType="VARCHAR" />
    <result column="wx_nickname" property="wxNickname" jdbcType="VARCHAR" />
    <result column="wx_unionid" property="wxUnionid" jdbcType="VARCHAR" />
    <result column="wx_headimgurl" property="wxHeadimgurl" jdbcType="VARCHAR" />
    <result column="wx_sex" property="wxSex" jdbcType="INTEGER" />
    <result column="wx_city" property="wxCity" jdbcType="VARCHAR" />
    <result column="wx_country" property="wxCountry" jdbcType="VARCHAR" />
    <result column="wx_province" property="wxProvince" jdbcType="VARCHAR" />
    <result column="wx_language" property="wxLanguage" jdbcType="VARCHAR" />
    <result column="wx_subscribe_time" property="wxSubscribeTime" jdbcType="TIMESTAMP" />
    <result column="wx_subscribe_scene" property="wxSubscribeScene" jdbcType="VARCHAR" />
    <result column="wx_qr_scene" property="wxQrScene" jdbcType="VARCHAR" />
    <result column="wx_qr_scene_str" property="wxQrSceneStr" jdbcType="VARCHAR" />
    <result column="wx_key" property="wxKey" jdbcType="VARCHAR" />
    <result column="wx_subscribe" property="wxSubscribe" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, wx_openid, wx_nickname, wx_unionid, wx_headimgurl, wx_sex, wx_city, wx_country, 
    wx_province, wx_language, wx_subscribe_time, wx_subscribe_scene, wx_qr_scene, wx_qr_scene_str, 
    wx_key, wx_subscribe
  </sql>

  <sql id="Base_Table">
    wx_user_${wxKey}
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from
    <include refid="Base_Table" />
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" >
    delete from
    <include refid="Base_Table" />
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.limaila.limaila_weixin_service.entity.WxUser" useGeneratedKeys="true" keyProperty="id">
    insert into
    <include refid="Base_Table" />
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="wxOpenid != null" >
        wx_openid,
      </if>
      <if test="wxNickname != null" >
        wx_nickname,
      </if>
      <if test="wxUnionid != null" >
        wx_unionid,
      </if>
      <if test="wxHeadimgurl != null" >
        wx_headimgurl,
      </if>
      <if test="wxSex != null" >
        wx_sex,
      </if>
      <if test="wxCity != null" >
        wx_city,
      </if>
      <if test="wxCountry != null" >
        wx_country,
      </if>
      <if test="wxProvince != null" >
        wx_province,
      </if>
      <if test="wxLanguage != null" >
        wx_language,
      </if>
      <if test="wxSubscribeTime != null" >
        wx_subscribe_time,
      </if>
      <if test="wxSubscribeScene != null" >
        wx_subscribe_scene,
      </if>
      <if test="wxQrScene != null" >
        wx_qr_scene,
      </if>
      <if test="wxQrSceneStr != null" >
        wx_qr_scene_str,
      </if>
      <if test="wxKey != null" >
        wx_key,
      </if>
      <if test="wxSubscribe != null" >
        wx_subscribe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="wxOpenid != null" >
        #{wxOpenid,jdbcType=VARCHAR},
      </if>
      <if test="wxNickname != null" >
        #{wxNickname,jdbcType=VARCHAR},
      </if>
      <if test="wxUnionid != null" >
        #{wxUnionid,jdbcType=VARCHAR},
      </if>
      <if test="wxHeadimgurl != null" >
        #{wxHeadimgurl,jdbcType=VARCHAR},
      </if>
      <if test="wxSex != null" >
        #{wxSex,jdbcType=INTEGER},
      </if>
      <if test="wxCity != null" >
        #{wxCity,jdbcType=VARCHAR},
      </if>
      <if test="wxCountry != null" >
        #{wxCountry,jdbcType=VARCHAR},
      </if>
      <if test="wxProvince != null" >
        #{wxProvince,jdbcType=VARCHAR},
      </if>
      <if test="wxLanguage != null" >
        #{wxLanguage,jdbcType=VARCHAR},
      </if>
      <if test="wxSubscribeTime != null" >
        #{wxSubscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wxSubscribeScene != null" >
        #{wxSubscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="wxQrScene != null" >
        #{wxQrScene,jdbcType=VARCHAR},
      </if>
      <if test="wxQrSceneStr != null" >
        #{wxQrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="wxKey != null" >
        #{wxKey,jdbcType=VARCHAR},
      </if>
      <if test="wxSubscribe != null" >
        #{wxSubscribe,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.limaila.limaila_weixin_service.entity.WxUser" >
    update
    <include refid="Base_Table" />
    <set >
      <if test="wxOpenid != null" >
        wx_openid = #{wxOpenid,jdbcType=VARCHAR},
      </if>
      <if test="wxNickname != null" >
        wx_nickname = #{wxNickname,jdbcType=VARCHAR},
      </if>
      <if test="wxUnionid != null" >
        wx_unionid = #{wxUnionid,jdbcType=VARCHAR},
      </if>
      <if test="wxHeadimgurl != null" >
        wx_headimgurl = #{wxHeadimgurl,jdbcType=VARCHAR},
      </if>
      <if test="wxSex != null" >
        wx_sex = #{wxSex,jdbcType=INTEGER},
      </if>
      <if test="wxCity != null" >
        wx_city = #{wxCity,jdbcType=VARCHAR},
      </if>
      <if test="wxCountry != null" >
        wx_country = #{wxCountry,jdbcType=VARCHAR},
      </if>
      <if test="wxProvince != null" >
        wx_province = #{wxProvince,jdbcType=VARCHAR},
      </if>
      <if test="wxLanguage != null" >
        wx_language = #{wxLanguage,jdbcType=VARCHAR},
      </if>
      <if test="wxSubscribeTime != null" >
        wx_subscribe_time = #{wxSubscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wxSubscribeScene != null" >
        wx_subscribe_scene = #{wxSubscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="wxQrScene != null" >
        wx_qr_scene = #{wxQrScene,jdbcType=VARCHAR},
      </if>
      <if test="wxQrSceneStr != null" >
        wx_qr_scene_str = #{wxQrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="wxKey != null" >
        wx_key = #{wxKey,jdbcType=VARCHAR},
      </if>
      <if test="wxSubscribe != null" >
        wx_subscribe = #{wxSubscribe,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>